- name: Add Chutes Helm repository
  ansible.builtin.copy:
    # 注意: 这里的路径对应你上面"准备工作"下载的位置
    # src 不带斜杠表示拷贝整个目录
    src: /root/test/chutes-miner/ansible/k3s/tasks/charts/chutes-miner-0.1.6.tgz
    dest: /tmp/
    mode: '0755'

- name: Copy custom values
  ansible.builtin.copy:
    src: "{{ chart_values }}"
    dest: /tmp/chutes-miner.yaml
    mode: preserve
  register: copy_values_result
  changed_when: copy_values_result.changed

- name: Install or upgrade Miner charts
  ansible.builtin.command: >
    helm upgrade --install chutes /tmp/chutes-miner-0.1.6.tgz
    --namespace chutes
    --kubeconfig {{ k3s_kubeconfig_path }}
    --create-namespace
    -f /tmp/chutes-miner.yaml
    --set-string minerCredentials.ss58Address="{{ miner_ss58_address }}"
    --set-string minerCredentials.secretSeed="{{ miner_secret_seed }}"
    {{ ('--version ' + miner_charts_version) if miner_charts_version is defined else '' }}
  register: miner_deployment
  changed_when: miner_deployment.rc == 0
  no_log: true

- name: Display deployment result
  ansible.builtin.debug:
    msg: "Miner deployment on {{ inventory_hostname }}: {{ 'SUCCESS' if miner_deployment.rc == 0 else 'FAILED' }}"
