---
- name: Monitoring setup
  tags: monitoring
  block:
    # -------------------------------------------------------
    # 步骤 1: 将本地下载好的 Chart 文件夹分发到目标机器
    # -------------------------------------------------------
    - name: Copy Prometheus chart to remote node
      ansible.builtin.copy:
        # 注意: 这里的路径对应你上面"准备工作"下载的位置
        # src 不带斜杠表示拷贝整个目录
        src: /root/test/chutes-miner/ansible/k3s/roles/chutes-gpu/files/prometheus-27.50.1.tgz
        dest: /tmp/
        mode: '0755'

    - name: Copy Kubernetes Dashboard chart to remote node
      ansible.builtin.copy:
        src: /root/test/chutes-miner/ansible/k3s/roles/chutes-gpu/files/kubernetes-dashboard-7.14.0.tgz
        dest: /tmp/
        mode: '0755'

    - name: Install Prometheus
      shell: |
        helm upgrade --install prometheus /tmp/prometheus-27.50.1.tgz \
          --namespace monitoring \
          --create-namespace \
          --set server.persistentVolume.enabled=false \
          --set alertmanager.persistentVolume.enabled=false \
          --set prometheus-pushgateway.persistentVolume.enabled=false \
          --set prometheus-server.persistentVolume.enabled=false \
          --set alertmanager.persistence.enabled=false \
          --kubeconfig={{ k3s_kubeconfig_path }}

    - name: Install kubernetes dashboard
      shell: |
        helm upgrade --install kubernetes-dashboard /tmp/kubernetes-dashboard-7.14.0.tgz  \
          --create-namespace \
          --namespace kubernetes-dashboard \
          --set persistence.enabled=false \
          --kubeconfig={{ k3s_kubeconfig_path }}
